@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-primary: #185c36;
  --color-secondary: #f5f4f4;
  --color-accent: #007bff;
  --color-danger: #dc3545;
  --opacity-filter: rgba(255, 255, 255, 0.1);
  --drop-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", system-ui;
}

body {
  background-color: var(--color-secondary);
}

main {
  padding: 2rem;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

footer a {
  font-size: 0.75rem;
  color: #1b75d0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem 0;
}

.body-small {
  font-size: 0.75rem;
}

a.active {
  background-color: var(--opacity-filter);
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
