.heading {
  text-align: center;
}

.divider {
  margin: 1rem 0;
}

.container {
  width: max(50%, 1000px);
  margin: auto;
}

.monthly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 200px;
}

.monthly_label {
  font-weight: 700;
}

.quickstartContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 4rem 0;
}

.quickstart {
  width: 50%;
}

.quickstartContainer {
  text-align: center;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.types > div {
  width: 29%;
  transition: transform 250ms ease-in-out;
}

.types > div:hover {
  transform: translateY(3px);
}
