@import '../index.css';

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: var(--drop-shadow);
}

.title {
  text-align: center;
}

/* Default styles for form elements */
.form input,
.form button,
.form select {
  margin: 0.5rem 0;
}

.form input,
.form select {
  width: 100%;
  padding: 0.675em 1rem 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.form div {
  display: flex;
  flex-direction: column;
}
