.nav {
  background-color: var(--color-primary);
  box-shadow: 0 1px 10px #999;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.list a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
}

.list a:hover {
  background-color: var(--opacity-filter);
}
