.customSelect {
  position: relative;
}

.customSelect select {
  appearance: none;
  padding: 0.675em 6em 0.675em 1em;
}

.customSelect::before,
.customSelect::after {
  --size: 0.3rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 55%;
}

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 65%;
}
