@import '../index.css';

.report {
  width: 20dvw;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 5px;
  cursor: default;
}

.row {
  transition: background-color 150ms ease-in-out;
}

.row:hover {
  background-color: white;
}
